body{
  background-color: #00539c;
}

.header {
text-align: center;
font-size: 50px;
}

#particles-js {
  position: fixed;
  top: 0px;
  z-index: -1;
  width: 100%;
  height: 100%;
}

#typed{
  color:#ff751a
}
